/.gitattributes            export-ignore
/phpunit.xml               export-ignore
/tests                     export-ignore
/ISSUE_TEMPLATE.md         export-ignore
/PULL_REQUEST_TEMPLATE.md  export-ignore